* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
  font-family: Arial, sans-serif;
  background-color: #EFEFEF;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}

.logo{
    width: 4rem;
    height: 4rem;
}

.search-bar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2.5rem;
}
.search{
    position: relative;
    font-family: "Bellota Text", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    background-color: #D9D9D9;
    height: 4vh;
    color: black;
    border: 1px solid #a19999;
}


.number{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#all-categories{
    font-family: "Bellota Text", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    background-color: #D9D9D9;
    height: 4vh;
  border: 1px solid #a19999;
}

.number h1{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 18px;
   font-weight: 700;

}

.number h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 12px;
text-align: end;
}